<div class="container">
      <table class="table text-center">
        <tr>
          <th scope="col">Codice</th>
          <th scope="col">Titolo</th>
          <th scope="col">Autore</th>
          <th scope="col">In prestito da</th>
        </tr>
        <tr *ngFor="let book of list">
          <th scope="row">{{ book.getCode() }}</th>
          <td><i>{{ book.getTitle() }}</i></td>
          <td>{{ book.getAuthor() }}</td>
          <td>{{ book.getBorrowedBy() }}</td>
        </tr>
      </table>
</div>
