<div class="accordion-item">
    <h2 class="accordion-header" id="findBookHeader">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#findBook" aria-expanded="false" aria-controls="findBook">
        Trova libro
      </button>
    </h2>
    <div id="findBook" class="accordion-collapse collapse hide" aria-labelledby="findBookHeader" data-bs-parent="#accordionContainer">
      <div class="accordion-body">
        Form di ricerca
      </div>
    </div>
  </div>

