form div, form button {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

form input {
    margin: 12px auto;
}

form button {
    margin: auto;
    padding: 6px;
    border-radius: 10px;
}

fa-icon {
    margin-right: 8px;
}