<div class="accordion-item">
      <h2 class="accordion-header" id="addBookHeader">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#addBook" aria-expanded="false" aria-controls="addBook">
          Nuovo libro
        </button>
      </h2>
      <div id="addBook" class="accordion-collapse collapse hide" aria-labelledby="addBookHeader" data-bs-parent="#accordionContainer">
        <notification [alertData]="alertData" />
        <form class="accordion-body">
          <div>            
            <input id="newCode" type="text" placeholder="Codice..." />
            <input id="newTitle" type="text" placeholder="Titolo..." />
            <input id="newAuthor" type="text" placeholder="Autore..." />
          </div>
            <button id="addBookBtn" type="button" class="bg-success text-white fw-bold" (click)="addBook()"><fa-icon [icon]="icon" /> Aggiungi</button>
        </form>
      </div>
</div>

