<div class="accordion-item">
      <h2 class="accordion-header" id="addBookHeader">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#addBook" aria-expanded="false" aria-controls="addBook">
          Nuovo libro
        </button>
      </h2>
      <div id="addBook" class="accordion-collapse collapse hide" aria-labelledby="addBookHeader" data-bs-parent="#accordionContainer">
        <div class="accordion-body">
            Form con il nuovo libro
        </div>
      </div>
</div>

