form {
    margin-top: 15px;
    margin-left: 8px;
}

input {
    height: 40px;
    padding-left: 6px;
}

button {
    margin: 10px 10px 0;
    padding: 6px 12px;
    border-radius: 10px;
}

fa-icon {
    margin-right: 8px;
}